@model IEnumerable<OtlobProject.ModelViews.AllRestaurantModelView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<br />
<form class="search-form d-none d-md-block"  asp-action="SearchByRestaurantName" style="margin-left:40%">
    <i class="icon-magnifier"></i>
    <input type="search" class="form-control" placeholder="Search Here" title="Search here" name="searchString" style="width:30%" >
</form>
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.Logo" style="width:100px;height:100px" class="img-circle" />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)

                    <td>
                        @Html.DisplayFor(modelItem => item.Area)

                    </td>
                    <td>
                        <a href="/Manager/Edit/@item.ID" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>|
                        <a href="/Manager/Details/@item.ID" class="btn btn-default btn-sm"><i class="fas fa-info-circle"></i></a>|
                        <a href="/Manager/DeleteRestaurant/@item.ID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you wish to delete this Restaurant?');"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
